# Copy this file to .env and fill in your values
# Database Configuration
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=crypto_quant

# API Keys
BIRDEYE_API_KEY=
QUICKNODE_RPC_URL=

# OKX Exchange Credentials
OKX_API_KEY=
OKX_SECRET=
OKX_PASSWORD=

# (Testnet)
USE_EXCHANGE_TESTNET=True

HTTP_PROXY=http://127.0.0.1:7890

# Solana Wallet
SOLANA_PRIVATE_KEY=